﻿@model Acme.Web.ViewModels.PersonEmployeeVm


@using ( Html.BeginForm() )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PersonEmployeeVm</h4>
        <hr />
        @Html.ValidationSummary( true, "", new { @class = "text-danger" } )
        <div class="form-group">
            @Html.LabelFor( model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.FirstName, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.LastName, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.LastName, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.BirthDate, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EmployeeNum, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EmployeeNum, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.EmployeeNum, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.EmployedDate, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.EmployedDate, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.EmployedDate, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.TerminatedDate, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.TerminatedDate, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.TerminatedDate, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink( "Back to List", "Index" )
</div>
