﻿@model IEnumerable<Acme.Services.Dto.EmployeeDto>


<p>
    @Html.ActionLink( "Create New", "Create" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor( model => model.Person.FirstName )
        </th>
        <th>
            @Html.DisplayNameFor( model => model.Person.LastName )
        </th>
        <th>
            @Html.DisplayNameFor( model => model.Person.BirthDate )
        </th>
        <th>
            @Html.DisplayNameFor( model => model.EmployeeNum )
        </th>
        <th>
            @Html.DisplayNameFor( model => model.EmployedDate )
        </th>
        <th>
            @Html.DisplayNameFor( model => model.TerminatedDate )
        </th>
        <th></th>
    </tr>

    @foreach ( var item in Model )
    {
        <tr>
            <td>
                @Html.DisplayFor( model => item.Person.FirstName )
            </td>
            <td>
                @Html.DisplayFor( model => item.Person.LastName )
            </td>
            <td>
                @Html.DisplayFor( model => item.Person.BirthDate )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.EmployeeNum )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.EmployedDate )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.TerminatedDate )
            </td>
            <td>
                @Html.ActionLink( "Edit", "Edit", new { id = item.Id } ) |
                @Html.ActionLink( "Details", "Details", new { id = item.Id } ) |
                @Html.ActionLink( "Delete", "Delete", new { id = item.Id } )
            </td>
        </tr>
    }

</table>
